@import "tailwindcss";

.wallet-adapter-button {
    background-color: #4A90E2;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
}

.wallet-adapter-button:hover {
    background-color: #357ABD;
}
